/* Default Header Font */
* {
    font-family: 'Quattrocento Sans', sans-serif;
}

p { font-size: 14.5pt;}


a {color:black;}

/* Default Primary Button */
a.btn.btn-primary {
    background-color:black;
    border:none;
}

/* Footer */
a.btn.btn-secondary {
    border:none;
    background: none;
    color:black;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: none;
    border:none;
    color: black;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
  }

  .scroll-to-top.active, .scroll-to-homepage.active  {
    display: block;
  }

  /* Custom styles for the scroll-to-homepage button */
    .scroll-to-homepage {
    position: fixed;
    top: 20px;
    left: 20px;
    width: auto;
    height: auto;
    /* color: none; */
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 36px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
  }

  #erynn-name {
    height:1.5em !important;
    max-width: auto;
  }
